@font-face {
    src: url('fonts/Rubik-Regular.ttf');
    font-family: 'Rubik';
}

@font-face {
    src: url('fonts/Rubik-Bold.ttf');
    font-family: 'Rubik';
    font-weight: bold;
}
@font-face {
    src: url('fonts/Roboto-Medium.ttf');
    font-family: 'Roboto';
    font-weight: 500;
}
@font-face {
    src: url('fonts/Roboto-Regular.ttf');
    font-family: 'Roboto';
    font-weight: 400;
}

*{
    box-sizing: border-box;
    font-size: 16px;
    transition: .3s;
    font-family: Roboto;
    font-weight: 400;
}

a{
  text-decoration: none;
}


body{
    margin: 0px;
    padding: 0px;
    border: 0.01px solid transparent;
}

html{
  font-size: 10px;
}


@media (max-width:475px),(max-device-width:475px){
    html{
      font-size: 8.4px;
    }
}

@media (max-width:400px),(max-device-width:400px) {
  main{
    margin-top: 145px;
  }
}
