.select{

}

.select__title{
  opacity: 0.6;
  color: #000;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0.2rem;
}


.select__field{
  width: 157px;
  height: 40px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  appearance: none;
  background: #fff url('img/select-arrow.png') no-repeat 90% center / 6px 10px;
  padding: 0 3rem 0 1rem;
}

.select__field_sort{
  background: #fff url('img/select-arrow-sort.png') no-repeat 92% center / 1.3rem 0.8rem;
  border-radius: 6px;
  max-width: 220px;
  height: auto;
  width: 100%;
  padding: 1.3rem 1.9rem;
  color: #ccc;
}

input.select__field_sort::-webkit-calendar-picker-indicator {
  display: none;
}

.select__field_big{
  max-width: 458px;
  padding: 1.3rem 3.5rem 1.3rem 2.5rem;
  background: #fff url('img/select-arrow-sort.png') no-repeat 96% center / 1.3rem 0.8rem;
}
