noscript
    p Please enable Javascript
    
header.header
  .header__wrapper
    .header__wrapper-main
      a.header__logo(href="#")
        img.header__logo-img(src='img/header-logo.png', alt='logo')
        h1
          span.header__title INDEX
          span.header__title.header__title_blue BOX
          
      .tagline
        .tagline__text Get more out of IndexBox — Go Pro
        
    
    a.header__hamburger(href="#")
      i.fa.fa-bars
          
    nav.header__wrapper-nav
      ul.header__nav
        li
          a.header__nav-item.header__nav-item_active(href="#") Download Data
        li
          a.header__nav-item(href="#") Analyze data
        li
          a.header__nav-item(href="#") Report writing
      
      ul.header__nav.header__nav_login 
        li
          a.header__nav-item(href="#") Sign up
        li
          a.header__nav-item(href="#") Sign in
      
        
    
    
