.header{
  background-color:#272831;
}

.header__wrapper{
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 2.25rem 1rem;
}

.header__wrapper-main{
  max-width: 54.1rem;
  width: 100%;
  margin: 0 2rem;
}


.header__logo-img{
  margin-right: 0.7rem;
}

.header__title{
  color: #ffffff;
  font-family: "Rubik";
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header__title_blue{
  color: #6596ff;
}

.tagline{
  display: inline-block;
  background-color:#272831;
}

.tagline__text{
  background: linear-gradient(270deg, #ff7f7c 0%, #5aa4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 500;
}

.header__wrapper-nav{
  max-width: 55.8rem;
  width: 100%;
}

.header__nav{
    padding: 0;
    margin: 0;
    max-width: 37.6rem;
    flex-grow: 1;
    list-style: none;
}

.header__nav_login{
  max-width: 13.2rem;
}

.header__nav-item{
  opacity: 0.4;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 0.75rem;
}

.header__nav-item:hover, .header__nav-item_active{
  opacity: 1;
}

.header__hamburger{
  display: none;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

@media (max-width:450px),(max-device-width:450px) {

  .header{
    position: fixed;
    top: 0px;
    left: 0px;
  }

  .header__wrapper-nav.hidden{
    display: none;
  }

  .header__hamburger{
    display: block;
  }

  .header__wrapper-nav, .header__wrapper-main, .header__wrapper-main > *{
    margin: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .header__wrapper-nav, .header__nav{
    flex-direction: column;
    align-items: center;
  }

  .header__wrapper-nav li{
    margin: 1rem 0;
  }

}
