doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main
          section.bg-gray.py-15
            h2(hidden) Селекты
            .container
              .grid.grid_select
                .select
                  input.select__field.select__field_sort.select__field_big(list='product', placeholder='Product')
                  datalist(id='product')
                    
                .select      
                  input.select__field.select__field_sort(list='country', placeholder='Country')
                  datalist(id='country')
                    
                .select
                  input.select__field.select__field_sort(list='factor', placeholder='Factor')
                  datalist(id='factor')
                  
                .select
                  input.select__field.select__field_sort(list='period', placeholder='Period')
                  datalist(id='period')
          

          section.container.py-25
            h2(hidden) Поиск
            
            .row.row_format-options
              .label.mr-2 Output Formating Options show by
              
              .row
                .format-option
                  input(type='radio', name='format', id='factor-checkbox', value='factor', checked, hidden) 
                  label.format-option__label(for='factor-checkbox') Factor
                  
                .format-option
                  input(type='radio', name='format', id='country-checkbox', value='country', hidden) 
                  label.format-option__label(for='country-checkbox') Country/Region
                  
                .format-option
                  input(type='radio', name='format', id='code-checkbox', value='code', hidden) 
                  label.format-option__label(for='code-checkbox') Code
                  
            .grid.grid_search.my-3
              .select
                .select__title Volume
                select.select__field(data-name="Volume")
              .select
                .select__title Value
                select.select__field(data-name="Value")
              .select
                .select__title Price
                select.select__field(data-name="Price")
              .select
                .select__title Area
                select.select__field(data-name="Area")
              .select
                .select__title Livestock
                select.select__field(data-name="Livestock")
              .select
                .select__title Yield
                select.select__field(data-name="Yield")
              .select
                .select__title Per Capita
                select.select__field(data-name="Per Capita")
            
            .row.row_buttons    
              button.button.mx-1 Find data
              button.button.button_danger.mx-1 Clear
                  
            .search-results.my-3.container
              .search-results__title
                | Cats didn’t find anything in the box yet,
                br
                | so have a nice analyze meow :)
              img.search-results__img(src='img/search-results-nothing.png', alt='nothing to show!')
                  
                
            


        include ../blocks/footer/footer.jade
