doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main
          //- section.bg-gray.py-15
          //-   h2(hidden) Селекты
          //-   .container
          //-     .grid.grid_select
          //-       select.select.select_big
          //-         option(selected disabled hidden) Product
          //- 
          //-       select.select
          //-         option(selected disabled hidden) Country
          //- 
          //-       select.select
          //-         option(selected disabled hidden) Country
          //- 
          //-       select.select
          //-         option(selected disabled hidden) Period
          //- 
          section.container.py-25
            h2(hidden) Поиск
            
            .row.row_format-options
              .label.mr-2 Output Formating Options show by
              
              .row
                .format-option
                  input(type='radio', name='format', id='factor', hidden, checked) 
                  label.format-option__label(for='factor') Factor
                  
                .format-option
                  input(type='radio', name='format', id='country', hidden) 
                  label.format-option__label(for='country') Country/Region
                  
                .format-option
                  input(type='radio', name='format', id='code', hidden) 
                  label.format-option__label(for='code') Code
                  
            .grid.grid_search.my-3
              .select
                .select__title Volume
                select.select
              .select
                .select__title Value
                select.select
              .select
                .select__title Price
                select.select
              .select
                .select__title Area
                select.select
              .select
                .select__title Livestock
                select.select
              .select
                .select__title Yield
                select.select
              .select
                .select__title Per Capita
                select.select
                  
            .search-results.my-3.container
              .search-results__title
                | Cats didn’t find anything in the box yet,
                br
                | so have a nice analyze meow :)
              img.search-results__img(src='img/search-results-nothing.png', alt='nothing to show!')
                  
                
            


        include ../blocks/footer/footer.jade
