footer.footer
  .footer__wrapper.container.row
    .footer__primary
      .footer__text
        | Ask us
        a.footer__text(href="tel:442032393063") &nbsp;44-20-3239-3063 (UK);&nbsp;
        a.footer__text(href="tel:14157998701") &nbsp;1-415-799-8701 (US);&nbsp;
        br
        | © 2018 IndexBox, Inc.
    
    nav.footer__nav
      ul.footer__nav-list.row
        li
          a.footer__nav-item(href="#") FAQ
        li
          a.footer__nav-item(href="#") Privacy Policy
        li
          a.footer__nav-item(href="#") Cookie
        li
          a.footer__nav-item(href="#") Terms Of Service
        li
          a.footer__nav-item(href="#") Pricing Plan
        li
          a.footer__nav-item(href="#") Metadata and Definitions
          
