.footer__wrapper {
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;
}

.footer__primary {
  max-width: 34rem;
  margin-right: 2rem;
}

.footer__text {
  opacity: 0.6;
  color: #000;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
}

.footer__nav {
  max-width: 65rem;
  width: 100%;
}

.footer__nav-list {
  list-style: none;
}

.footer__nav-item {
  opacity: 0.4;
  color: #000;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
}

.footer__nav-item:hover {
  opacity: 1;
}

@media (max-width:1050px), (max-device-width:1050px) {
  .footer__wrapper {
    flex-direction: column-reverse;
    text-align: center;
  }

  .footer__nav, .footer__primary {
    margin: 1rem 0;
  }
}

@media (max-width:650px), (max-device-width:650px) {
  .footer__nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
}
